.whatsapp-container {
    display: flex;
    align-items: center;
}

.whatsapp-button {
    background-color: #25D366;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Margem à direita para separar o botão do logo */
}

.whatsapp-container {
    display: flex;
    align-items: center;
}

.whatsapp-button {
    background-color: #25D366;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Margem à direita para separar o botão do logo */
}

.whatsapp-logo {
    width: 30px; /* Defina a largura desejada para o logo */
}
img{
    width: 50px; /* Defina a largura desejada para o logo */
}
